<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!--	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"-->
	<!--            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"-->
	<!--            crossorigin="anonymous"></script>-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<title>勤怠登録画面</title>
</head>

<body>

	<div class="mb-3">
		<label for="name">ユーザー名：</label>
		<span th:text="${session.loginUser.name}"></span>
		<label for="id">ユーザーID：</label>
		<span th:text="${session.loginUser.id}"></span>
		<label for="status">ステータス：</label>
		<span th:text="未承認"></span>

	</div>

	<div class="mb-3">
		<form th:action="@{/attendance/display}" method="post">
			<label for="displayYearMonth">表示年月：</label>
			<select name="year" id="id_year"></select>年
			<select name="month" id="id_month"></select>月
			<input type="submit" class="btn btn-info" value="表示" id="display" />
			<input type="hidden" name="yearMonth" id="yearMonth" />
		</form>

		<script>
			var optionLoop, this_day, this_month, this_year, today;
			today = new Date();
			this_year = today.getFullYear();
			this_month = today.getMonth() + 1;
			this_day = today.getDate();

			//ループ処理（スタート数字、終了数字、表示id名、デフォルト数字
			optionLoop = function (start, end, id, this_day) {
				var i, opt;

				opt = null;
				for (i = start; i <= end; i++) {
					if (i === this_day) {
						opt += "<option value='" + i + "' selected>" + i + "</option>";
					} else {
						opt += "<option value='" + i + "'>" + i + "</option>";
					}
				}
				return document.getElementById(id).innerHTML = opt;
			};
			optionLoop(2000, this_year, 'id_year', this_year);
			optionLoop(1, 12, 'id_month', this_month);

			/* yearとmonthを結合*/
			document.querySelector('form').addEventListener('submit', function (event) {
				var year = document.getElementById('id_year').value;
				var month = document.getElementById('id_month').value;

				// 月を2桁にフォーマット
				if (month.length < 2) {
					month = '0' + month;
				}

				var yearMonth = year + '-' + month;

				// hidden inputを更新
				var hiddenInput = document.getElementById('yearMonth');
				hiddenInput.value = yearMonth;
			});
		</script>


	</div>

	<div class="mb-3">
		<input type="submit" class="btn btn-info" value="却下" />
		<input type="submit" class="btn btn-info" value="承認" />
		<input type="submit" class="btn btn-info" value="承認申請" />
		<input type="submit" class="btn btn-info" value="登録" id="attendance-form" />
	</div>

	<!--	<th:block="${session.users.role == Manager}">-->
	<table class="table table-hover sortabletable dataTable no-footer" id="user-table" role="grid"
		aria-describedby="user-table_info">
		<thead>
			<thead>
				<tr>
					<th>承認申請者</th>
					<th>申請対象年月</th>
					<th>申請日</th>
				</tr>

			</thead>
		<tbody>

			<tr th:each="MonthlyAttendanceReq : ${monthlyAttendanceReqList}" th:if="${MonthlyList.status == 1}">
				<td th:text="${MonthlyAttendanceReq.name}"></td>
				<td th:text="${MonthlyAttendanceReq.targetYearMonth}"></td>
				<td th:text="${MonthlyAttendanceReq.date}"></td>
			</tr>

		</tbody>
	</table>

	<!--	</th:block>-->

	<form th:action="@{/attendances/regist/complete}" method="post" id="attendance-form">
		<input type="hidden" name="employeeId" th:value="${employeeId}">
		<table>
			<thead>
				<tr>
					<th class="w-10">日付</th>
					<th class="w-10">曜日</th>
					<th class="w-10">勤務状況</th>
					<th class="w-10">出勤時間</th>
					<th class="w-10">退勤時間</th>
					<th class="w-10">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dailyAttendance: *{dailyAttendanceList}">
					<td class="w-10" th:text="${#temporals.format(dailyAttendance.date, 'M/d')}"></td>
					<td class="w-10"
						th:text="${T(com.analix.project.util.AttendanceUtil).getJapaneseDayOfWeek(dailyAttendance.date.dayOfWeek)}">
					</td>
					<td class="w-10">

						<select name="statuses" class="status-dropdown form-select"
							th:data-status="${dailyAttendance.status}"></select>


					</td>
					<td class="w-10">

						<input type="time" name="startTime" th:value="${dailyAttendance.startTime}">

					</td>
					<td class="w-10">

						<input type="time" name="endTime" th:value="${dailyAttendance.endTime}">
					</td>
					<td class="w-10">

						<input type="text" name="remarks" th:value="${dailyAttendance.remarks}">
					</td>
					<!--					<input type="hidden" name="dates" th:value="${DailyAttendanceList}">-->
					<input type="hidden" name="dates">
				</tr>
			</tbody>
		</table>

	</form>
	<script>
		var statusList = {
			0: "通常出勤",
			1: "休日",
			2: "祝日",
			3: "遅刻",
			4: "有給",
			5: "欠勤",
			6: "早退",
			7: "時間外勤務",
			8: "振替出勤",
			9: "振替休日",
			10: "代替出勤",
			11: "代替休日"
		};

		function populateStatusDropdown() {
			var dropdowns = document.getElementsByClassName('status-dropdown');
			for (var i = 0; i < dropdowns.length; i++) {
				var dropdown = dropdowns[i];
				var selectedStatus = dropdown.getAttribute('data-status'); // th:data-status 属性から値を取得
				var options = '';
				for (var key in statusList) {
					var selected = (key == selectedStatus) ? ' selected' : '';
					options += "<option value='" + key + "'" + selected + ">" + statusList[key] + "</option>";
				}
				dropdown.innerHTML = options;
			}
		}

		window.onload = populateStatusDropdown;
	</script>
</body>

</html>