<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<title>ユーザー管理画面</title>
</head>

<body>

	

	<div class="d-flex justify-content-center mb-5 mt-5" id="regist">
		<div class="card col-xl-6 col-md-9 col-12">
			<div class="card-header">
				<h3 class="text-center">ユーザー管理</h3>
			</div>
			<div class="card-body">
		
				<!-- エラー -->
				<div th:if="${error}" class="alert alert-danger">
					<p th:text="${error}" style="color: white;"></p>
				</div>
				<div th:if="${errorMessageMap}" class="alert alert-danger">
					<th:block th:each="errorMessages :${errorMessageMap}">
						<span th:text="${errorMessages.key}"></span>
						<th:block th:each="errorMessage: ${errorMessages.value}">
							<span th:text="${errorMessage}"></span>
						</th:block>
						<br>
					</th:block>
				</div>
		
				<div th:if="${message}" class="alert alert-info">
					<p th:text="${message}"></p>
				</div>
		
				<div id="error" class="alert alert-danger" style="display: none;"></div>
				<div id="succsess" class="alert alert-info" style="display: none;"></div>
				<!-- /エラー -->
		
				<!-- 検索フォーム -->
				<div class="card mb-3" style="background-color: rgb(255, 255, 255);">
					<div class="card-header">検索</div>
					<div class="card-body">
				<form th:action="@{/user/regist/search}" th:method="post" name="registUserForm" id="search-form"
					th:object="${registUserForm}">
					<div class="mb-1 mt-1 row">
						<div class="col-xl-3 col-md-3 col-12">
							<label for="search-employeeCode">社員番号：</label>
						</div>
						<div class="col-xl-7 col-md-7 col-12">
							<input type="text" class="form-control" th:value="*{employeeCode}" name="employeeCode" id="search-employeeCode" />
						</div>
						<div class="col-xl-2 col-md-2 col-12">
							<input type="submit" value="検索" class="btn-yellow" />
						</div>
					</div>
				</form>
					</div>
				</div>
				<!-- /検索フォーム -->

	
<!--				<div class="mt-4 mb-4" style="padding: 10px,0px,0px,0px; border:3px solid rgb(96, 175, 255);"></div>-->

				<!-- 登録フォーム -->
				<div class="card mb-3" style="background-color: rgb(255, 255, 255);">
					<div class="card-header">登録/変更</div>
					<div class="card-body">
						<form th:object="${registUserForm}" th:action="@{/user/regist/complete}" method="post" id="regist-form">
							<!-- ユーザー名 -->
							<div class="container mb-3 mt-3 row responsiveContainer">
								<label for="name" class="col-xl-3 col-md-4 col-12">ユーザー名：</label>
								<div class="col-xl-9 col-md-8 col-12">
									<input type="text" class="form-control" th:field="*{name}" />
									<span class="text-danger" th:errors="*{name}"></span>
									<span id="nameError" class="text-danger"></span>
								</div>
							</div>
							<!-- /ユーザー名 -->

							<!-- 社員番号 -->
							<div class="container mb-3 row responsiveContainer">
								<label for="employeeCode" class="col-xl-3 col-md-3 col-12">社員番号：</label>
								<div class="col-xl-9 col-md-9 col-12">
									<input type="text" name="employeeCode" class="form-control" th:value="*{employeeCode}" id="employee" />
									<input type="hidden" name="beforeEmployeeCode" th:value="*{employeeCode}">
									<span class="text-danger" th:errors="*{employeeCode}"></span>
									<span id="employeeCodeError" class="text-danger"></span>
								</div>
							</div>
							<!-- /社員番号 -->
				
							<!-- パスワード -->
							<div class="container mb-3 row responsiveContainer">
								<label for="password" class="col-xl-3 col-md-3 col-12">パスワード：</label>
								<div class="col-xl-9 col-md-9 col-12 password-container">
									<input type="text" name="password" class="form-control" th:field="*{password}" style="display: none;" />
									<button type="button" id="btn_passview">
										<i id="view" class="fas fa-eye-slash"></i>
									</button>
									<div id="passwordError" class="text-danger"></div>
									<span class="text-danger" th:errors="*{password}"></span>
								</div>
							</div>
							<!-- /パスワード -->
				
							<!-- 権限 -->
							<div class="container mb-3 row responsiveContainer">
								<label for="role" class="col-xl-3 col-md-3 col-12">権限：</label>
								<div class="col-xl-9 col-md-9 col-12">
									<select class="form-select" th:field="*{role}">
										<option th:value="*{role}">[[*{role}]]</option>
										<option value="Admin">Admin</option>
										<option value="UnitManager">UnitManager</option>
										<option value="Manager">Manager</option>
										<option value="Regular">Regular</option>
									</select>
									<span class="text-danger" th:errors="*{role}"></span>
									<span id="roleError" class="text-danger"></span>
								</div>
							</div>
							<!-- /権限 -->
				
							<!-- 所属部署 -->
							<div class="container mb-3 row responsiveContainer">
								<label for="departmentId" class="col-xl-3 col-md-3 col-12">所属部署：</label>
								<div class="col-xl-9 col-md-9 col-12">
									<select class="form-select" th:field="*{departmentId}">
										<option th:value="*{departmentId}">[[*{departmentName}]]
										</option>
										<option th:each="department : ${departmentList}" th:value="${department.value}" th:text="${department.key}">
										</option>
									</select>
									<span class="text-danger" th:errors="*{departmentId}"></span>
									<span id="departmentIdError" class="text-danger"></span>
								</div>
							</div>
							<!-- /所属部署 -->
				
							<!-- email -->
							<div class="container mb-3 row responsiveContainer">
								<label for="email" class="col-xl-3 col-md-3 col-12">email：</label>
								<div class="col-xl-9 col-md-9 col-12">
									<input type="text" class="form-control" th:field="*{email}" />
									<span class="text-danger" th:errors="*{email}"></span>
									<span id="emailError" class="text-danger"></span>
								</div>
							</div>
							<!-- /email -->
				
							<!-- 利用開始日 -->
							<div class="container mb-3 row responsiveContainer">
								<label for="startDate" class="col-xl-3 col-md-3 col-12">利用開始日：</label>
								<div class="col-xl-9 col-md-9 col-12">
									<input type="text" th:errorclass="is-invalid" class="form-control" th:field="*{startDate}"
										placeholder="yyyy/MM/dd" />
									<span class="text-danger" th:errors="*{startDate}"></span>
									<span id="startDateError" class="text-danger"></span>
								</div>
							</div>
							<!-- /利用開始日 -->
				
							<!-- ボタン -->
							<div class="d-flex justify-content-end">
								<label for="import-file" class="btn-yellow me-2" id="import-btn">インポート</label>
								<input type="submit" name="completeUserRegistForm" value="登録" class="btn-yellow" />
								<input type="hidden" name="id" th:value="*{id}" />
								<input type="hidden" name="insertFlg" th:value="*{insertFlg != null ? insertFlg : 0}" />
							</div>
							<!-- /ボタン -->
				
						</form>
				
						<!-- 非表示（インポートボタンと紐づいている）-->
						<form th:action="@{/user/regist/import}" id="importSubmit-btn" method="post" enctype="multipart/form-data">
							<button type="submit" class="btn btn-sm" style="opacity: 0; pointer-events: none">ボタン</button>
						</form>
				
						<input type="file" accept=".csv" name="importFile" id="import-file" class="form-control form-control-sm"
							form="importSubmit-btn" style="opacity: 0; pointer-events: none; height: 1%;"/>
						<!-- /非表示 -->
	
					</div>
				</div>
				<!-- 登録フォーム -->
				
				<!-- 画面上部に遷移するボタン -->
				<div class="d-flex justify-content-end">
					<button type="submit" class="btn btn-primary" id="pageTopBtn"><i class="bi bi-chevron-up"></i></button>
				</div>
				<!-- /画面上部に遷移するボタン -->
				
			</div>
		</div>
	</div>
	
	
	
	<!-- CSV入力確認モーダルのHTML -->
	<div class="modal fade" id="usersModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
	
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">CSV読み込み一覧</h5>
				</div>
				<div class="modal-body">
					<p id="modalErrorMessage" class="alert alert-danger" role="alert" style="display: none;">
	
					<table class="table table-hover table-bordered" id="usersTbl">
						<thead style="background-color: white; ">
							<tr>
								<th width="10%">インポート</th>
								<th width="10%">社員コード</th>
								<th width="10%">ユーザー名</th>
								<th width="10%">パスワード</th>
								<th width="10%">部署ID</th>
								<th width="10%">権限</th>
								<th width="10%">email</th>
								<th width="10%">利用開始日</th>
							</tr>
						</thead>
						<tbody style="background-color: white; " id="users-tbody">
							<!-- リストが空の場合のデフォルト行 -->
	
							<th:block th:each="user,stat : ${usersList}">
								<tr>
									<td class="selectFlg"><input type="checkbox"
											th:name="|usersList.[${stat.index}].import-checkbox|"></td>
									<td class="employeeCode">[[${user.employeeCode}]]</td>
									<td class="name">[[${user.name}]]</td>
									<td class="password">[[${user.password}]]</td>
									<td class="departmentId">[[${user.departmentId}]]</td>
									<td class="role">[[${user.role}]]</td>
									<td class="email">[[${user.email}]]</td>
									<td class="startDate">[[${user.startDate}]]</td>
								<tr>
							</th:block>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
						id="selective-import">インポート</button>
					<button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="all-import">全件インポート</button>
	
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
						onclick="location.href='/user/regist'">キャンセル</button>
				</div>
			</div>
		</div>
		<!-- /CSV入力確認モーダルのHTML -->

		<!-- エラーメッセージやモーダル表示判定用の属性 -->
		<input type="hidden" th:data-open-modal="${openModal}" th:data-modal-error="${modalError}">

		<!--	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"-->
		<!--		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"-->
		<!--		crossorigin="anonymous"></script>-->




		<script>
		/**
 * CSV読み込み一覧フォームモーダル
 */window.addEventListener("DOMContentLoaded", (event) => {
	 // サーバからのエラー情報を取得
	 if (document.querySelector("[data-open-modal]")) {
		 const openModal = document.querySelector("[data-open-modal]").dataset.openModal;
		 if (openModal === "true") {
			 // モーダルを表示
			 var csvInportModal = new bootstrap.Modal(document.getElementById('usersModal'));
			 csvInportModal.show();
		 }
	 }
 });


			// チェックされた行のデータを取得するJavaScriptの例
			function getSelectedRows(inputcontent) {
				const selectedRows = [];
				document.querySelectorAll(inputcontent).forEach(checkbox => {
					const row = checkbox.closest('tr'); // チェックボックスの親行
					console.log(row);
					const rowData = {
						employeeCode: row.querySelector('.employeeCode').textContent,
						name: row.querySelector('.name').textContent,
						password: row.querySelector('.password').textContent,
						role: row.querySelector('.role').textContent,
						departmentId: row.querySelector('.departmentId').textContent,
						email: row.querySelector('.email').textContent,
						startDate: row.querySelector('.startDate').textContent,
					};
					selectedRows.push(rowData);
				});
				return selectedRows;
			}
			//『インポート』ボタン押下後
			document.getElementById("selective-import").addEventListener("click", (event) => {
				const selectedRows = getSelectedRows('input[type="checkbox"]:checked');
				sendInportData(selectedRows);

			});
			//『全件インポート』ボタン押下後
			document.getElementById("all-import").addEventListener("click", (event) => {
				const selectedRows = getSelectedRows('input[type="checkbox"]');
				sendInportData(selectedRows);

			});
			//インポート開始
			function sendInportData(selectedRows) {
				if (selectedRows.length > 0) {
					fetch('/user/regist/import/complete', {
						method: 'POST',
						headers: {'Content-Type': 'application/json'},
						body: JSON.stringify(selectedRows)
					}).then(response => {

						if (response.ok) {
							console.log('インポート成功')
						} else {
							console.log('インポート失敗');
						}
						return response.json();
					}).then(data => {
						console.dir(data);
						console.log(data.message);
						document.getElementById(`${data.status}`).style.display = '';
						document.getElementById(`${data.status}`).innerHTML = data.message;

					})
				} else {

					let csvInportModal = new bootstrap.Modal(document.getElementById('usersModal'));
					csvInportModal.show();
					document.getElementById('modalErrorMessage').style.display = '';
					document.getElementById('modalErrorMessage').innerHTML = 'インポートする行を選択してください';

				}
			};
			//ファイル選択後
			let importFile = document.getElementById('import-file');
			importFile.addEventListener('input', function (event) {
				let importSubmit = document.getElementById('importSubmit-btn');
				const fileName = importFile.value
				const allowedExtensions = ['csv'];
				const fileExtension = fileName.split('.').pop().toLowerCase();
				if (!allowedExtensions.includes(fileExtension)) {
					document.getElementById('error').style.display = '';
					document.getElementById('error').innerHTML = '対応していないファイル形式です。csv形式のファイルを選択してください。';
					return;
				}
				importSubmit.submit();
			
			});


			//const allowExtensions = '.(csv)$'; // 許可する拡張子
			//const onChangePicture = (file) => {
			//if (file) { // ファイル存在チェック
			//if (!file.match(allowExtensions)) { // 許可する拡張子以外の場合
			//alert('拡張子が csv 以外のファイルはアップロードできません。');
			//return; // 処理を中断
			//}
			//}
			
			//}








		</script>
		<script th:src="@{/js/userRegist.js}"></script>

</body>


</html>