<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.analix.project.mapper.LoginMapper">

	<!-- 全件取得 -->
	<select id="findByCodeAndPassword"
		resultType="com.analix.project.entity.Users">
		SELECT 
		id,
		name,
		role,
		department_id,
		start_date,
		employee_code
		FROM users
		WHERE employee_code = #{code} AND
		password = BINARY #{password}
	</select>

</mapper>