<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.analix.project.mapper.MonthlyAttendanceReqMapper">

	<!-- 全件取得 -->
	<select id="findAll"
		resultType="com.analix.project.dto.MonthlyAttendanceReqDto">
		SELECT * FROM monthly_attendance_req
		JOIN users
		ON monthly_attendance_req.user_id = users.id
	</select>
		
	</mapper>