<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.analix.project.mapper.MonthlyAttendanceReqMapper">

	<!-- 月次申請情報をリストで取得 -->
	<select id="findAllMonthlyAttendanceReq"
		resultType="com.analix.project.dto.MonthlyAttendanceReqDto">
		SELECT
		ma.id,
		ma.target_year_month,
		ma.date,
		ma.status,
		users.name
		FROM monthly_attendance_req ma
		JOIN users
		ON
		ma.user_id = users.id
	</select>

	<!-- 対象の月次申請を取得 userIdとtargetYearMonth -->
	<select id="findMonthlyAttendanceReqByUserIdAndYearMonth"
		resultType="com.analix.project.dto.MonthlyAttendanceReqDto">
		SELECT
		ma.user_id, ma.target_year_month,
		ma.date, ma.status,
		ma.comment, users.name
		FROM monthly_attendance_req ma
		JOIN users
		ON ma.user_id = users.id
		WHERE ma.user_id = #{userId}
		AND ma.target_year_month = #{targetYearMonth}
	</select>

	<!-- ログインユーザーのstatus取得 -->
<!--	<select id="findStatusByUserId" parameterType="Integer">-->
<!--		SELECT status FROM-->
<!--		monthly_attendance_req-->
<!--		WHERE user_id = #{userId}-->
<!--		LIMIT 1-->
<!--	</select>-->

	<!-- 対象年月のstatus取得 -->
	<select id="findStatusByUserIdAndYearMonth" parameterType="map"
		resultType="Integer">
		SELECT status FROM monthly_attendance_req
		WHERE user_id =
		#{userId} AND target_year_month = #{attendanceDate}
	</select>
	
	<!-- データが存在するかどうか確認 -->
	<select id="exsistsMonthlyAttendanceReq" resultType="boolean">
		SELECT COUNT(*) > 0
		FROM monthly_attendance_req
		WHERE user_id = #{userId} AND target_year_month = #{attendanceDate}
	</select>
	
	<!-- 月次情報を登録 -->
	<insert id="insertMonthlyAttendanceReq" useGeneratedKeys="true"
		keyProperty="id"
		parameterType="com.analix.project.dto.MonthlyAttendanceReqDto">
		INSERT INTO monthly_attendance_req
		(user_id,
		target_year_month, date, status)
		VALUES (#{userId},
		#{targetYearMonth}, #{date},
		#{status})
	</insert>

	<!-- statusを1(申請中)に更新 -->
	<update id="updateStatusToPendingByUserIdAndYearMonth" parameterType="map">
		UPDATE
		monthly_attendance_req
		SET status = 1,
		date = #{date},
		comment = NULL
		WHERE user_id = #{userId} AND
		target_year_month = #{attendanceDate}
	</update>
	
	<!-- 月次idからデータ（ユーザーId、申請者、対象日付、申請日）取得-->
	<select id="findMonthlyDataById"
		resultType="com.analix.project.dto.MonthlyAttendanceReqDto">
		SELECT
		users.name AS name, ma.user_id, ma.target_year_month, ma.date
		FROM monthly_attendance_req ma
		JOIN
		users ON ma.user_id = users.id
		WHERE ma.id = #{id}
	</select>

	<!-- 月次申請承認後（status更新） -->
	<update id="updateApproveStatus" parameterType="map">
		UPDATE
		monthly_attendance_req
		SET status = 2
		WHERE user_id = #{userId} AND
		target_year_month = #{targetYearMonthAtDay}
	</update>

	<!-- 月次申請却下後（status更新・却下理由追加）-->
	<update id="updateRejectStatusAndComment" parameterType="map">
		UPDATE
		monthly_attendance_req
		SET status = 3, comment = #{comment}
		WHERE user_id = #{userId} AND
		target_year_month = #{targetYearMonth}
	</update>

	<!-- ユーザー名取得 -->
<!--	<select id="findMonthlyAttendanceReqByUserId"-->
<!--		resultType="com.analix.project.dto.MonthlyAttendanceReqDto">-->
<!--		SELECT * FROM monthly_attendance_req-->
<!--		JOIN users-->
<!--		ON-->
<!--		monthly_attendance_req.user_id = users.id-->
<!--		WHERE user_id = #{userId} AND-->
<!--		target_year_month = #{targetYearMonth}-->
<!--	</select>-->

</mapper>