<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.analix.project.mapper.TemporaryPasswordMapper">

	<!--仮パスワード新規作成 -->
	<insert id="insertTemporaryPassword" useGeneratedKeys="true"
		keyProperty="id"
		parameterType="com.analix.project.entity.TemporaryPassword">
		INSERT INTO
		temporary_password(temporary_password,user_id,expiration_date_time,active_flg)
		values(#{temporaryPassword.temporaryPassword},#{temporaryPassword.userId},#{temporaryPassword.expirationDateTime},1)
	</insert>

	<!-- 仮パスワード更新 -->
	<update id="updateTemporaryPassword"
		parameterType="com.analix.project.entity.TemporaryPassword">
		UPDATE temporary_password
		SET
		temporary_password =
		#{temporaryPassword.temporaryPassword},
		expiration_date_time =
		#{temporaryPassword.expirationDateTime},
		active_flg = 1
		WHERE
		user_id =
		#{temporaryPassword.userId}
	</update>

	<!--仮パスワード無効化 -->
	<update id="deactivateTmpPassword">
		UPDATE temporary_password
		SET
		active_flg = 0
		WHERE
		user_id = #{userId}
	</update>


</mapper>
