<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.analix.project.mapper.UserMapper">
	<resultMap type="com.analix.project.entity.Users" id="users">
		<id column="id" property="Id" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="role" property="role" />
		<result column="department_id" property="departmentId" />
		<result column="department_name" property="departmentName" />
		<result column="start_Date" property="startDate" />
		<result column="email" property="email"/>
		<result column="tel" property="tel"/>
	</resultMap>

	<select id="findUserDataByUserName"
		resultType="com.analix.project.entity.Users">
		SELECT
		users.id,
		users.name,
		users.password,
		users.role,
		users.department_id,
		users.start_date,
		users.email,
		users.tel,
		department.name AS
		department_name
		FROM users
		INNER JOIN department
		ON users.department_id =
		department.department_id
		WHERE users.name
		= #{name}
	</select>

	<select id="createNewId" resultType="integer">
		SELECT max(id) FROM users;

	</select>

	<select id="countUserDataById" resultType="integer">
		SELECT count(*) FROM
		users WHERE id = #{id};
	</select>

	<update id="updateUserData"
		parameterType="com.analix.project.entity.Users">
		UPDATE users
		SET 
		name =
		#{users.name},
		password =
		#{users.password},
		role =
		#{users.role},
		department_id =
		#{users.departmentId},
		start_date =
		#{users.startDate}
		WHERE
		id = #{users.id}
	</update>
	<insert id="insertUserData" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.analix.project.entity.Users">
		INSERT INTO
		users(name,password,role,department_id,start_date)
		values(#{users.name},#{users.password},#{users.role},#{users.departmentId},#{users.startDate})
	</insert>

	<delete id="deleteUserData">
		DELETE FROM users
		WHERE id = #{id}
	</delete>
	
	<select id="findUserListByRole"
		resultType="com.analix.project.entity.Users">
		SELECT
		users.id,
		users.name,
		users.password,
		users.role,
		users.department_id,
		users.start_date,
		users.email,
		users.tel
		FROM users
		WHERE users.role
		= #{role}
	</select>
	
</mapper>