<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link th:if="${useBootstrap}" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css}"
		rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
		crossorigin="anonymous" />

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&amp;" rel="stylesheet" />

	<!--	<link rel="preconnect" href="https://fonts.googleapis.com" />-->
	<!--	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />-->
	<!--	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&amp;display=swap" rel="stylesheet" />-->

	<link th:unless="${useBootstrap}" href="classpath:/static/css/output.css" rel="stylesheet" type="text/css" />

	<title>日報勤怠帳票</title>
</head>

<body>

	<div class="container">
		
		<div class="title mt-3">
			<h3>勤怠日報帳票</h3>
		</div>
		
						
		
			<!--			<div style="text-align: right; margin-bottom: 1em;">-->
			<!--				<div><u style="margin: 0 1em;" th:text="'対象年月：'+${targetYearMonth}">対象年月</u></div>-->
			<!--				<div><u style="margin: 0 1em;" th:text="'社員番号：'+${userData.employeeCode}"></u></div>-->
			<!--				<div><u style="margin: 0 1em;" th:text="'ユーザー名：'+${userData.name}"></u></div>-->
			<!--			</div>-->
		
		
		<th:block th:if="${!useBootstrap}">
		<div class="row2" style="text-align: center;">
			<div class="header-left">
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">対象年月</th>
							<td>
								<div th:text="${targetYearMonth}"></div>
							</td>
						</tr>
						<tr>
							<th scope="row">社員番号</th>
							<td>
								<div th:text="${userData.employeeCode}"></div>
							</td>
						</tr>
						<tr>
							<th scope="row">ユーザー名</th>
							<td>
								<div th:text="${userData.name}"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<div class="header-right">
				<div class="memo-box">
					<div>メモ</div>
					<span></span>
				</div>
			</div>
		</div>
		</th:block>
		
			

		<th:block th:if="${useBootstrap}">
			<span th:text="'対象年月:'+${targetYearMonth}"></span>
			<span th:text="'社員番号:'+${userData.employeeCode}"></span>
			<span th:text="'ユーザー名:'+${userData.name}"></span><br>
			
			<input type="submit" class="btn btn-primary mt-2" id="excel-button" value="Excel" form="excel" />
			<input type="submit" class="btn btn-primary mt-2" id="pdf-button" value="PDF" form="pdf" />
			<input type="button" class="btn btn-primary mt-2" value="戻る" onclick="history.back();" />
			<form th:action="@{http://localhost:8080/output/attendanceReportOutput/pdf}" method="post" target="_blank"
				id="pdf">
				<input type="hidden" name="userId" th:value="${userData.id}" />
				<input type="hidden" name="image" id="hiddenImageField" />
			</form>
			<form th:action="@{http://localhost:8080/output/attendanceReportOutput/excel}" method="post" target="_blank"
				name="reportAttendanceExcelOutputForm" id="excel">
			</form>
		</th:block>



		<div class="clear">
			<div class="content">

				<!--日報勤怠-->
				<div class="row mt-5">
					<div class="table-responsive table-responsive-xl">
						<table class="table table-bordered sortabletable dataTable no-footer" id="user-table"
							role="grid" aria-describedby="user-table_info">
							<thead>
								<tr>
									<th colspan="5" class="center">勤怠情報</th>
									<th colspan="4" class="center">日報情報</th>
								</tr>
								<tr>
									<th width="">日付</th>
									<th width="">曜日</th>
									<th width="">勤務状況</th>
									<th width="">出勤時間</th>
									<th width="">退勤時間</th>
									<!--<th width="">備考</th>-->
									<!--<th>勤務時間</th>-->
									<th></th>
									<th>作業</th>
									<th>作業時間</th>
									<th>作業内容</th>
								</tr>
							</thead>
							<tbody class="table-group-divider">
								<th:block th:each="attendanceReport:${attendanceReportDtoList}">
									<!--日報がない日-->
									<tr th:if="${attendanceReport.dailyReportDetailDtoList.isEmpty()}">
										<td th:text="${#temporals.format(attendanceReport.date, 'M/d')}"></td>
										<td th:text="${#temporals.format(attendanceReport.date, 'EEE')}"></td>
										<td th:text="${attendanceReport.statusName}"></td>
										<td
											th:text="${attendanceReport.startTime != null ? attendanceReport.startTimeStr : ''}">
										</td>
										<td
											th:text="${attendanceReport.endTime != null ? attendanceReport.endTimeStr : ''}">
										</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<!--日報がある日-->
									<tr th:each="dailyReport, stat:${attendanceReport.dailyReportDetailDtoList}"
										th:class="${stat.first ? '' : 'table-se'}">
										<td
											th:text="${stat.first ? #temporals.format(attendanceReport.date, 'M/d') : ''}">
										</td>
										<td
											th:text="${stat.first ? #temporals.format(attendanceReport.date, 'EEE') : ''}">
										</td>
										<td th:text="${stat.first ? attendanceReport.statusName : ''}"></td>
										<td th:text="${stat.first ? attendanceReport.startTimeStr : ''}"></td>
										<td th:text="${stat.first ? attendanceReport.endTimeStr : ''}"></td>
										
<!--										<td th:utext="'&#' + (9311 + ${stat.count})" style="color: gray;"></td>-->
										<td th:utext="${useBootstrap ? '&#' + (9311 + stat.count) : stat.count}" style="color: gray;"></td>
										<td th:text="${dailyReport.workName}"></td>
										<td th:text="${dailyReport.time} + '時間'"></td>
										<td th:text="${dailyReport.content}"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
				<!--/日報勤怠-->


			</div>
		</div>

	</div>
	
	<th:block th:if="${useBootstrap}">
		<style>
			.table-secondary td:nth-of-type(n+6) {
				background-color: white;
			}
	
			.table-se td:nth-of-type(-n+5) {
				background-color: #e2e3e5;
			}
		</style>
	</th:block>
	
</body>

</html>