<!DOCTYPE html>
<!--layout.htmlリプレイス時Java経由していたらヘッダーを表示しない-->
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>パスワード変更画面</title>

</head>

<body>

	<div class="container d-flex justify-content-center mb-5 mt-5">
		<div class="col-xl-6 col-md-6 col-12">
			<div class="card" style="background-color: rgb(255, 255, 255);">
				<div class="card-header">
					<h3 class="text-center">パスワード変更</h3>
				</div>
				<div class="card-body">

					<!-- エラー -->
					<div th:if="${error}" class="alert alert-danger">
						<p th:text="${error}" style="color: white;"></p>
					</div>
					<div th:if="${message}" class="alert alert-info">
						<p th:text="${message}" style="color: white;"></p>
					</div>
					<!-- エラー -->

					<form th:action="@{/password/change/complete}" method="post">

						<div class="container col-12">
							<!-- 現在のパスワード -->
							<!--							<div class="col-12 mt-3 mb-4">-->
							<!--								<label for="currentPassword">現在のパスワード：</label>-->
							<!--								<input type="password" id="currentPassword" class="form-control" />-->
							<!--								<span id="currentPasswordError" class="text-danger"></span>-->
							<!--							</div>-->
							<!-- /現在のパスワード -->

							<!-- 新しいパスワード -->
							<div class="col-12 mt-3 mb-3">
								<label for="newPassword">新しいパスワード：</label><br>
								<span style="font-size: 0.8rem;">※半角英数字8文字以上で入力してください</span>
								<!--								<span>※半角の英字と数字を含む、8文字以上の文字列</span>-->
								<input type="password" name="newPassword" id="newPassword" class="form-control" />
							</div>

							<div class="progress" style="height: 10px;">
								<div id="passwordStrength" class="progress-bar" role="progressbar" style="width: 0%;"
									aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div id="strengthMessage" class="mt-2" style="font-size: 0.8rem;"></div>
							<!-- /新しいパスワード -->

							<!-- 新しいパスワード(確認) -->
							<div class="col-12 mt-3 mb-3">
								<label for="confirmPassword">新しいパスワード(確認)：</label>
								<input type="password" name="confirmPassword" id="confirmPassword"
									class="form-control" />
								<span id="confirmPasswordError" class="text-danger"></span>
							</div>
							<!-- /新しいパスワード(確認) -->
						</div>

						<div class="d-flex justify-content-end mb-3">
							<button type="submit" class="btn-yellow">変更</button>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
	<!-- パスワード強度チェック(zxcvbn)のCDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
	<script th:src="@{/js/password.js}" defer></script>

</body>

</html>