<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<title>部署登録</title>
</head>

<body>



	<!-- ヘッダー -->
	<div class="container mt-3 mb-3">
		<div class="d-flex align-items-center gap-5">
			<div>
				<strong>ユーザー名：</strong>
				<span th:text="${session.loginUser.name}"></span>
			</div>
			<div>
				<strong>ユーザーID：</strong>
				<span th:text="${session.loginUser.id}"></span>
			</div>

			<div class="ms-auto d-flex gap-2">
				<a href="/common/startMenu">
					<input type="submit" name="startMenuBack" value="戻る" class="btn-yellow" />
				</a>

				<form th:action="@{/common/logoff}" method="post">
					<button type="submit" class="btn-yellow">ログオフ</button>
				</form>
			</div>
		</div>
	</div>
	<!-- ヘッダー -->
	<noscript>
		<div class="alert alert-danger">
			<p>このサイトではJavaScriptが使われています。<br>JavaScriptを有効にしてください。</p>
		</div>

	</noscript>

	<div class="container d-flex justify-content-center mb-5 mt-5" id="regist">
		<div class="col-md-6">
			<div class="card" style="background-color: rgb(255, 255, 255);">
				<div class="card-header" style="background-color: white; ">
					<h3 class="text-center">部署登録</h3>
				</div>
				<div class="card-body" style="margin-right: 02px;">

					<!-- エラー -->
					<div th:if="${error}" class="alert alert-danger">
						<p th:text="${error}"></p>
					</div>
					<div th:if="${message}" class="alert alert-info">
						<p th:text="${message}"></p>
					</div>
					<!-- エラー -->

					<form th:object="${department}" action="?" method="post" id="department-form">
						<div class="container mb-3 row">
							<div class="input-group">
								<label for="input-registed-department" class="col-sm-4 col-form-label">登録済の部署名</label>

								<div class="dropdown ms-2 col-sm-5 row">
									<input type="text" class="form-select" th:value="${exsistsName}" name="exsistsName"
										th:text="${department.name}" id="input-registed-department" readonly />
									<div id="dropdownList" class="dropdown-content">
										<input type="text" placeholder="検索..." name="dropdownSearch" />
										<div data-value="${exsistsName}">[[*{exsistsName}]]</div>
										<div id="emptyOption"></div>
										<div th:each="department : ${departmentList}" th:data-value="${department.name}"
											th:text="${department.name}"></div>
									</div>
								</div>
								<div class="input-group-append ms-4 row">
									<button type="submit" class="btn btn-light" id="delete-btn"
										formaction="/department/regist/delete" onclick="return delcheck()">廃止</button>
								</div>
								<span class="text-danger" th:errors="*{exsistsName}" disabled></span>
							</div>
						</div>

						<div class="container mb-3 row">
							<label for="input-new-department" class="col-sm-4 col-form-label">新部署名</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:value="${newName}" name="newName"
									id="input-new-department" />
								<span id="newNameError" class="text-danger"></span>
								<!--java用-->
								<span class="text-danger" th:errors="*{newName}"></span>
							</div>
						</div>

						<!-- ボタン -->
						<div class="container d-flex flex-row-reverse mt-3 mb-5">
							<button type="submit" class="btn-yellow " id="modify-btn"
								formaction="/department/regist/update" style="margin-right: 25px;" disabled>
								変更</button>
							<button type="submit" class="btn-yellow mx-2" id="regist-btn"
								formaction="/department/regist/complete" disabled>登録</button>
						</div>


						<!-- ボタン -->
					</form>
					<!--					</div>-->
					<div class="accordion accordion-flush mb-2" id="accordionExample">
						<div class="accordion-item">
							<div class="accordion-header" id="headingOne">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									廃止済部署の復元
								</button>
							</div>
							<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<form action="/department/regist/active" method="post" id="activation-form">
									<div class="container mt-2 mb-3 row">
										<!--										<div class="input-group input-group-sm">-->
										<label for="deleted-department" class="col-sm-4 col-form-label">廃止済の部署名</label>
										<div class="col-sm-5">
											<select class="form-select" th:value="${inactiveName}" name="inactiveName"
												id="deleted-department">
												<option th:value="${inactiveName}">[[*{inactiveName}]]</option>
												<option th:each="inactiveList : ${inactiveDepartmentList}"
													th:value="${inactiveList.name}" th:text="${inactiveList.name}">
												</option>
											</select>
										</div>
										<div class="col-sm-3">
											<button type="submit" class="btn-yellow me-2" id="activation-btn"
												onclick="return activecheck()" disabled>復元</button>
										</div>
									</div>

									<span class="text-danger" th:errors="${department.inactiveName}"></span>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script th:src="@{/js/department.js}"></script>
</body>

</html>