/*@page {*/
/*	size: A4 portrait;*/
	
/*		margin: 10px;*/
/*}*/

/*ページ右下にページ番号を表示*/
/*@page {*/
/*	@bottom-right {*/
/*		content: counter(page);*/
/*	}*/
/*}*/


/*body {*/
/*		font-display: swap;*/
/*	font-family: 'Noto Sans JP', sans-serif;*/
/*	page-break-inside: avoid;*/
/*}*/

/*.container {*/
/*		width: 100%;*/
/*		margin: 10px auto;*/
/*	padding: 10%;*/
/*		border: 1px solid #333;*/
/*		border-radius: 10px;*/
/*}*/

/*.header {*/
/*	text-align: left;*/
/*		margin-bottom: 5px;*/

/*}*/

/*.content {*/
/*		line-height: 1.6;*/
/*	transform: scaleX(0.95);*/
/*	0.9倍に縮小*/

/*}*/

/*table {*/
/*	width: 100%;*/
/*	border-collapse: collapse;*/
/*	margin-bottom: 20px;*/
/*		transform: scale(2);*/
/*}*/

/*table,*/
/*th,*/
/*td {*/
/*	border: 1px solid #333;*/
/*	padding: 10px;*/
/*	text-align: center;*/

/*}*/

/*th {*/
/*	background-color: #f2f2f2;*/
/*}*/


/*A4縦向き、ページ右下にページ番号を表示*/
@page {
	size: A4 portrait;

	@bottom-right {
		content: counter(page);
	}
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10px; /* フォントサイズを小さく */
    margin: 0;
    padding: 0;
    page-break-inside: auto;
    line-height: 1.2;
}

.title {
    text-align: center;
    margin-bottom: 5px;
}

h3 {
	text-align: center;
    font-size: 20px;
    border-bottom: 3px double rgb(0, 0, 0);
    display: inline-block;
    width: 150px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px; /* テーブルのフォントサイズを小さく */
    margin-bottom: 10px; /* マージンを縮小 */
}

.table, th, td {
    border: 1px solid #333;
    padding: 4px;
}

th {
    background-color: #D6D6D6;
}

.center {
	text-align: center;
}

.header-left {
	float: left;
	width: 38%;
	margin-right: 2%
}

.row2 .header-left .table th {
    width: 40%;
}

.row2 .header-left .table td {
    width: 60%;
}

.header-right {
	float: left;
	width: 60%;
	text-align: left;
}

.memo-box {
	border: 1px solid #000;
	padding: 0 5px;
	height: 62px;
/*	resize: vertical;*/
}

.clear {
	clear: both;
}
