@page {
	size: A4 landscape;
	
	/*	margin: 10px;*/
}

@page: right {
	@bottom-right {
		content: counter(page);
	}
}
body {
	/*	font-display: swap;*/
	font-family: 'Noto Sans JP', sans-serif;
	page-break-inside: avoid;
}

.container {
	/*	width: 100%;*/
		margin: 10px auto;
	padding: 10%;
	/*	border: 1px solid #333;*/
	/*	border-radius: 10px;*/
}

.header {
	text-align: left;
		margin-bottom: 5px;

}

.content {
	/*	line-height: 1.6;*/
	transform: scaleX(0.95);
	/*0.9倍に縮小*/

}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	/*	transform: scale(2);*/
}

table,
th,
td {
	border: 1px solid #333;
	padding: 10px;
	text-align: center;

}

th {
	background-color: #f2f2f2;
}